form {
    width: 70%;
    margin: auto;
    height: 100vh;
    margin-top: 30px;
}

.contact-form,
.login-form {
    display: flex;
    margin-bottom: 30px;
    position: relative;

}

input {
    height: 35px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 15px;
    background-color: transparent;
}

button {
    padding: 10px 0;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #d8d8d8;
    opacity: 0.8;
    width: 40%;
    cursor: pointer;
    font-size: 14px;
}


label {
    position: absolute;
    margin: 8px 10px;
    left: 0;
    top: 0;
    cursor: text;
    transition: 0.2s;
    z-index: -1;
}

input:focus + label,
input:valid + label,
textarea:focus + label,
textarea:valid + label {
    top: -15px;
    font-size: 12px;
    background-color: white;
    padding: 0 4px;
    z-index: 1;
}

@media (min-width: 690px) {
    form {
        width: 50%;
    }

    button {
        width: 25%
    }
}