{% extends "layout.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="../static/about.css">
{% endblock %}

{% block title %}
    Snake Shot - About
{% endblock %}

{% block body %}
        
        <article>
          <img class="about" src="../static/photos/about.jpg" alt="about-photo"/>
          <div class="about">
            <h1 class="h1">HEY THERE! IT'S ME</h1>
            <p>
              Welcome to SNAKE SHOT, where the art of storytelling meets the
              timeless allure of film photography. I'm Judita Cicenaite, the
              creative force behind the lens. With a passion for capturing raw
              emotions and unfiltered moments, I specialize in crafting edgy
              narratives that transcend the ordinary.
            </p>
            <p>
              My journey through the world of black and white and color photography
              has led me to the heart of personal narratives, brand identities,
              pulsating concerts, and the enigmatic realm of music. Each image I
              create is a piece of visual poetry, a window into the untold stories
              that dance within the frame.
            </p>
            <p>
              Drawing inspiration from the interplay of light and shadow, I curate a
              visual journey that ignites curiosity and evokes emotions. SNAKE SHOT
              is more than a brand, it's an invitation to explore the uncharted
              territories of the human experience. Join me as we peel back the
              layers of existence, one captivating shot at a time.
            </p>
            <h1 class="h1">INTERESTED IN PHOTOSHOOT YET?</h1>
          </div>
        </article>
{% endblock %}

