{% extends "layout.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="../static/form.css">
    <style>
      .failure {
         display: flex;
         align-items: center;
         flex-direction: column;
         gap: 12px;
      }
   </style>
{% endblock %}

{% block title %}
    LogIn Failure
{% endblock %}

{% block body %}
   <div class="failure">
      <h1 class="failure">Invalid username and/or password!</h1>
      <button class="failure-button">Try Again!</button>
   </div>
{% endblock %}