<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, inital-scale=1.0, maximum-clase=1.0"/>
        <link rel="stylesheet" href="../static/libre-caslon-fontfacekit/web fonts/librecaslondisplay_regular_macroman/stylesheet.css">
        <link rel="stylesheet" href="../static/global.css">
        {% block stylesheet %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="static/photos/logo.svg" alt="logo"/>
                <h1>SNAKE SHOT- FILM PHOTOGRAPHY</h1>
            </div>
            <nav class="menu nav">
                <a href="/">HOME</a>
                <a href="/gallery">GALLERY</a>
                <a href="/about">ABOUT</a>
                <a href="/contacts">CONTACTS</a>
            </nav>
            <button class="burger-menu">
                <div class="menu"></div>
            </button>
        </header>
        <nav class="mobile-menu nav" hidden="hidden">
            <a href="/">HOME</a>
            <a href="gallery">GALLERY</a>
            <a href="about">ABOUT</a>
            <a href="contacts">CONTACTS</a>
        </nav>
        {% block body %}{% endblock %}
        <script src="../static/main.js"></script>
    </body>
</html>
